body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}

#contacto {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.logo {
    width: 20px;
    height: 20px;
}

.btn-whatsapp {
    display: inline-block;
    background-color: #25D366;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.btn-whatsapp:hover {
    background-color: #1ebc5c;
}
.btn-whatsapp img {
    vertical-align: middle;
    margin-right: 10px;
}
#precios {
    padding: 30px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabla-precios {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
.tabla-precios th, 
.tabla-precios td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.tabla-precios th {
    background-color: #f8f8f8;
    font-weight: bold;
}
.tabla-precios td {
    font-size: 16px;
}
.tabla-precios tr:hover {
    background-color: #f1f1f1;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #007bff;
  }